/* =Menu  -------------------------------------------------------------- */


#navigation	{
		float: right;
		margin: 40px 0 0 0;
		}

#access {
	width: 100%;
	background: none;
	display: block;
	margin: 0 auto;
	}

#access .menu-header,
div.menu 	{
		font-size: 17px;
		margin-left: 0px;
		width: 100%;
		}

#access .menu-header ul,
div.menu ul	{
		list-style: none;
		margin: 0;
		}

#access .menu-header li,
div.menu li 	{
		float: left;
		position: relative;
		}

#access a 	{
		font-family: Georgia, serif;
		font-weight: bold;
		color: #842e39; /* maroon */
		display: block;
		line-height: 38px;
		padding: 0 10px;
		text-decoration: none;
		font-size: 14px;
		}

#access ul ul 	{
		box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
		-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
		display: none;
		position: absolute;
		top: 38px;
		left: 0;
		float: left;
		width: 180px;
		z-index: 99999;
		}

#access ul ul li	{
			min-width: 180px;
			}

#access ul ul ul	{
			left: 100%;
			top: 0;
			}

#access ul ul a {
		background: white;
		opacity: 0.9;
		font-family: Arial, sans-serif;
		font-size: .75em;
		line-height: 1em;
		padding: 10px;
		width: 160px;
		height: auto;
		}

#access li:hover > a,
#access ul ul :hover > a {
			background: #ece3d2;
			color: #842e39;
			}

#access ul li:hover > ul 	{
				display: block;
				}

#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a	{
					color: #842e39; /* maroon */
					}

* html #access ul li.current_page_item a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover {
	color: #fff;
}




/* === Commercial Subnav Menu  ------------------------------------------------------------------------------------------ */

#kohler-subnav	{
			float: left;
			width: 270px;
			margin: 20px 20px 0 0;
			padding: 0 0 40px 0;
			}

#commercial-subnav	{
			float: left;
			width: 250px;
			margin: 20px 20px 0 0;
			padding: 0 0 40px 0;
			}

#commercial-subnav a	{
			display: block;
			height: 30px;
			font-family: Arial, sans-serif;
			font-size: 1.25em;
			line-height: 30px;
			text-indent: 10px;
			margin: 0 0 0 0;
			text-decoration: none;
			color: maroon;
			background-image: url(images/commercial-nav-bg.jpg);
			background-repeat: repeat-y;
			}

#commercial-subnav a:hover	{
				text-decoration: underline;
				color: maroon;
				}


.sub-nav-title	{
		color: #6e7779;
		height: 35px;
		margin-bottom: 10px;
		}

