@CHARSET "ISO-8859-1";

*{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

#navigation {
	float: right;
}

.nav-menu {
	background-image: url("../images/nav-bg.png");
	background-position: right;
	background-repeat: repeat-y;
	background-color: #F1EADC;
	background-size: contain;
	height: 25px;
}

.entry-title {
	background-image: url("../images/page-title-bg.jpg");
	background-position: left;
	background-repeat: repeat-y;
	color: #fff;
	padding: 10px 0 10px 12px;
	font-weight: bold !important;
}

#secondary {
	background-color: #EDE1CB;
}

#left-text-2 .widget-title,#left-text-1 .widget-title,#text-3 .widget-title,#text-4 .widget-title,#sendpress-widget-2 .widget-title,#text-5 .widget-title,#recent-posts-2 .widget-title
	{
	background-color: #842E39;
	color: #fff;
	margin: 0 10px;
	padding: 5px 10px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	text-transform: none;
}

#wpcf7-f56-w1-o1,.sendpress-signup-form {
	padding-left: 10px;
}

.wpcf7-form input[type=text],.wpcf7-form input[type=email],#form-wrap input[type=text]
	{
	height: 10px;
	width: 200px;
}

.wpcf7-form textarea {
	width: 200px;
}

#text-2 {
	margin-bottom: 20px;
}

#text-2 .widget-title,#text-2 .textwidget {
	color: maroon;
	text-align: center;
	font-size: 2em;
	font-weight: normal;
	margin-bottom: 0px;
	line-height: 1.1;
	padding-top: 10px;
}

#text-4 .textwidget img {
	margin-left: 30px;
	margin-top: 10px;
}

.site-info {
	left: 0;
	width: 100%;
	position: absolute;
	background-color: #c7ebfc;
	border-top: 10px solid #5C2201;

	padding: 0 0 10px;
	color: #fff;
}

.footer-content {
	margin: 0 auto;
	max-width: 960px;
}

.footer-content1,.footer-content2,.footer-content3 {
	float: left;
	
	padding: 0;
	text-align: left;

}
.footer-content1 {
	width: 250px;
	margin: 20px 0 0 40px;
}
.footer-content2 {
	width: 215px;
	margin: 20px 0 0;
}
.footer-content3 {
	width: 425px;
	margin: 20px 0 0 10px;
}

.footer-title {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

.char-footer {
	margin-bottom: 20px;
	color: #000;
}

.char-footer-locations {
	list-style: square outside none;
	margin: 0 0 18px 1.5em;
	color: #000;
	font-size: 12px;
	line-height: 15px;
}

ul.char-footer li a {
	color: #000;
	font-family: Arial, sans-serif;
	line-height: 2em;
	text-decoration: none;
}

.footer3-text {
	font-size: 12px;
	line-height: 15px;
}

.footer1-text {
	font-size: 12px;
}

.flexslider {
	box-shadow: 0 0px 0px #fff !important;
}

.flexslider .slides {
	padding: 0px;
}

.flexslider .slides img {
	height: 272px;
}

.site-content article {
	border-bottom: 0px;
}

td {
	vertical-align: top;
}

.sendpress-submit {
	margin-top: 0px;
}

#form-wrap>p {
	margin-bottom: 10px;
}

.textwidget iframe {
	margin: 10px 0 0 15px;
}

.qa-faq h3 {
	margin: 5px 0;
}

#recent-posts-2 ul {
	margin: 15px;
	border: 1px solid #aaa;
	border-top-color: #315c99;
	border-bottom-color: #315c99;
	padding: 0 10px 0 20px;
	list-style: square;
}

#recent-posts-2 li a {
	color: maroon;
}

#recent-posts-2 li {
	padding: 0 5px;
}

.home-left-bar {
	float: left;
	width: 25%;
	padding: 10px 0;
	background-color: #EDE1CB;
}

.home-content {
	float: left;
	width: 46%;
	padding: 0 10px;
}

.home-content h2 {
	margin: 0px !important;
}

.left-text-1-content {
	margin-bottom: 30px;
}

.left-textwidget {
	margin: 0px 20px 20px 27px;
}

.widget-area .widget p,.widget-area .widget li,.widget-area .widget .textwidge
	{
	font-size: 14px;
}

button,input[type="submit"],input[type="button"],input[type="reset"] {
	font-size: 14px;
}

.video-title {
	margin: 10px;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
}

.entry-content code, .comment-content code {
	font-family: Arial;
	font-size:12px;
}

.how-to-messure p {
	line-height: 1.71429;
    margin: 0 0 1.71429rem;
}

#how-to-measure-table table {
    border: 1px solid #E7E7E7;
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
}

#how-to-measure-table tr td {
    border-top: 1px solid #E7E7E7;
    padding: 6px 24px;
}

table.smaller td, table.smaller input[type=button], table.smaller input[type=submit]{
    font-size: 12px;
}

table.smaller input {
    width: 100px !important;
    margin: 0 0 24px;
}

table.smaller input[type="text"], textarea {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
    padding: 2px;
    border-radius: 0;
}

.add-link {
	cursor:pointer;
	color:red;
}

.contact-form {
	border-bottom: 0px solid #fff !important;
	color: #000 !important;
	font-size: inherit !important;
	width:75% 
	
}

.contact-form td {
	border-top: 0px solid #fff !important;
}

.wpcf7-form input[type="text"], .wpcf7-form input[type="email"], #form-wrap input[type="text"]{
	height: 15px !important;
}

button, input, textarea {
	font-size: 12px !important;
	padding: 3px !important;
}

.promotional-image {
	bottom: 0;
    margin: 80px 5px;
    padding: 0;
    width: 100%;
}

.katb_test_box {
	background-color: #EDE1CB !important;
}

#TB_window img#TB_Image {
margin: 0px auto 0 auto !important;
}

/*#imageContainer {
	display: table;
    float: left;
    overflow: hidden;
    width: 100%; 
	margin-top: 10px !important;
	padding: 0;
}*/

#TB_ImageOff {
	display:block;
	height:450px;
}

#imageContainer {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    postion: relative;
    width: 100%;
}

#TB_caption {
	position: absolute;
	bottom: -6px;
	left:0;
}

#TB_closeWindow {
	position: absolute;
	bottom: -6px;
	right:0;
}

.edge-main {
	float:left;
	width:100%;
}
.edge-left {
	float:left;
	width:25%
}

.edge-middle {
	float:left;
	width:50%
}

.edge-right {
	float:left;
	width:25%
}

.edge-content {
	padding-top:10px;
	width: 275px;
}

.sink-sample-text{
	min-width:175px;
	max-width:200px;
	border:1px solid #000;
	display:table;
	height:50px;
	margin-top:15px;
}

.free-text {
	display:table-cell;
	vertical-align: middle;
	overflow: hidden;
  	text-align:center;
 	color:#000;
}

.sink-free-text {
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	color:#000;
	cursor:pointer;
	overflow:hidden;
	padding:0 5px;
}

.edge-middle {
 	border: 1px solid #000000;
    border-radius: 10px 10px 10px 10px;
    float: left;
    margin: 10px;
    text-align: center;
    width: 45%;
    height:389px;
}

.edge-middle-image-border{
	height: 339px !important;
}

.edge-content img {
cursor:pointer;
}

.edge-middle img {
   border-radius: 10px 10px 10px 10px;
    max-width: 428px;
    padding: 2px;
    max-height: 389px;
}

.helptext {
	display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
}

#lightbox img{ 
	max-width: 700px;
	max-height: 500px; 
	width: auto; 
	height: auto;
	 }

#outerImageContainer {
	display: table !important;
	width:750px !important;
	height:550px !important;
}
#imageDataContainer {
	width:750px !important;
}

#lightbox {
	top:50px !important;
}

#prevLink, #nextLink{
	height:100% !important;
}

.hide{
	display:none;
}

.pull-right{
	float:right;
}

.pull-left{
	float:left;
}

.edges-text-div{
	border: 1px solid #000;
    display: table;
    height: 35px;
    max-width: 120px;
    min-width: 87px;
}
.edges-content {
	margin: 10px 40px;
}
.sink-content {
	margin: 10px 65px;
}